app = "albion-market-bot"
kill_signal = "SIGINT"
kill_timeout = 5

[build]
  image = "python:3.11-slim"

[env]
  PORT = "8000"

[[services]]
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls","http"]
    port = 443
